table {
  text-align: center;
  padding-left: 85px;
  padding-top: 90px;
  height: 50px;
  width: 100%;
}
.admin-page {
  margin-bottom: -90px;
  thead {
    background-color: antiquewhite;
    th {
      padding: 10px;
      margin: 10px;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;   
      background-color: rgb(41, 40, 40);
      color: whitesmoke;

    }
  }

  tbody {
    background-color: antiquewhite;
    td {
      padding: 10px;
      margin: 10px;
      color: whitesmoke;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;   
      background-color: rgb(41, 40, 40);
    }
  }
}

.admin-comments-box {
  padding: 10px;
  border-bottom: 4px solid rgb(185, 187, 177);
}
.icon-delete{
  margin: 2px;
}
.video-table{
  width: 400px;
  height: vh;
}

.description-table{
  width: 250px;
}
.title-table{
  width: 150px;
}

.username-table{
  width: 150px;
}
.id-table{
  width: 90px;
}
.comment-table{
  width: 250px;
}
.username-table{
  width: 90px;
}