@import './base.scss';

* {
    box-sizing: border-box;
};

.auth-page{
    @include flex (center, center, column, wrap);
    width: 100vw;
    height: 100vh;
    @extend %gradient-background;
    color: $hover-color;
    .login-box{
        @include flex (space-around, center, column, wrap);
        width: 60vw;
        height: 72vh;
        .log{
            @include flex (space-around, center, column, wrap);
            background-color: transparent;
            width: 67%;
            height: 80%;
            border: 2px solid $hover-color;
            border-radius: 15px;
            .input-section {
                @include flex (center, center, column , wrap);
                width: 100%;
                input {
                    height: 30px;
                    width: 70%;
                    background-color: transparent;
                    color: $hover-color;
                    border: none;
                    border: 2px solid $hover-color;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }
        }
        .register {
            @include flex (space-around, center, row, wrap);
            width: 500px;
            button {
                width: 100px;
            }
        }
    }
    button{
        border: 2px solid $hover-color;
        background-color: transparent;
        height: 22px;
        border-radius: 15px;
        color: $hover-color;
    }
    button:hover{
        background-color: $hover-color; 
        color: $third-color; 
        border: 2px solid $second-color;
        font-weight: bolder;
    }
    @media(max-width: 600px){
        .login-box{
            .log{
                width: 50vw;
            }
            .register {
                width: 200px;
            }
        }

    }
}