$video-width: 20.1vw;
// change videoListItem.js line 16/17 to match above value

$hover-color: rgb(255, 0, 0);

$first-color: #505050;
$second-color: #252525;
$third-color: #000000;

%gradient-background {
  background-image: linear-gradient(to bottom right, $first-color, $second-color, $third-color)
};

@mixin flex ($justify, $align, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}