@import './base.scss';
.creator-page{
    background-color: rgb(0, 0, 0);
    .warning{
        width: 400px;
        margin-left: 100px;
        font-size: smaller;
        color: white;
    }
    .dropzone{
        width: 100vw;
        height: 100vh;
        margin-left: 30vw;
        padding-top: 20vh;
        .creator-box{
            @extend %gradient-background;
            border: 5px solid $hover-color;
            border-radius: 15px;
            color: $hover-color;
            #tags{
                margin-top: 10vh;
                margin-left: 10vw;
                input{
                    width: 5vw;
                }
            }
            margin-top: 10ch;
            padding-top: 0vh;
            width: 40vw;
            height: 50vh;
            input{
                width: 38vw;
                margin-top: 2vh;
                margin-left: .75vw;
                border: none;
                border-radius: 5px;
                border-bottom: 3px solid rgb(148, 135, 135);
                box-shadow: black 0px 0px 7.5px 1px;
            }
            button{
                width: 80px;
                border: 2px solid black;
                height: 32px;
                padding-top: 6px;
                border-radius: 5px;
                margin: 15px;
            }
            button:hover{
                @extend %gradient-background;
                box-shadow: $hover-color 0px 0px 5px 1px;
                color: $hover-color;
            }
            #description{
                height: 50px;
            }
            #description2{
                height: 52px;
            }
            .box{
                display: flex;
                align-items: center;
                margin-left: 5vw;
                top: 5vh;
                color: white;
                #info{
                    margin-top: 4vh;
                    width: 30vw;
                    color: white;
                    // margin-left: 5vw;
                }
            }
        }
    }
    @media(max-width:1525px){
        .warning{
            width: 200px;
            margin-left: 50px;
            font-size: smaller;
        } 
        .dropzone{
            .creator-box{
                display: flex;
                align-items: center;
                flex-direction: column;
                input{
                    width: 150px;
                    height: 30px;
                    font-size: small;
                }
                button{
                    color: black;
                    height: 30px;
                    width: 150px;
                    margin-left: 9px;
                }
                button:hover{
                    color: white;
                    color: $hover-color;
                }
                #description{
                    color: black;
                    height: 30px;
                    width: 200px;
                }
                #description2{
                    color: black;
                    height: 30px;
                    width: 200px;
                }
                .box{
                    margin-left: 0px;
                    
                    #info{
                        width: 200px;
                        color: white;
                        margin-left: -10px;
                    }
                }
                #tags{
                    display: flex;
                    align-items: center;
                    margin-top: 175px;
                    width: 50px;
                    input{
                        width: 50px;
                        font-size: smaller;
                    }
                }
            }
        }
    }
    @media(max-width:700px){
        .warning{
            width: 150px;
            margin-left: 0px;
            font-size: smaller;
        } 
        .dropzone{
            .creator-box{
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 50vw;
                input{
                    width: 100px;
                    height: 30px;
                    font-size: small;
                }
                button{
                    color: black;
                    height: 30px;
                    width: 100px;
                    margin-top: 1px;
                    margin-left: 3px;
                }
                button:hover{
                    color: $hover-color;
                }
                #description{
                    color: white;
                    height: 30px;
                    width: 130px;
                }
                #description2{
                    color: black;
                    height: 30px;
                    width: 130px;
                }
                #description2:hover{
                    color: $hover-color;
                }
                .box{
                    margin-left: 0px;
                    #info{
                        width: 150px;
                        color: white;
                        margin-left: 0px;
                        font-size: smaller;
                    }
                }
                #tags{
                    display: flex;
                    align-items: center;
                    margin-top: 175px;
                    width: 50px;
                    input{
                        width: 50px;
                        font-size: smaller;
                    }
                }
            }
        }
    }
}
