.creator-page{
    background-color: rgb(7, 7, 7);
    // width: 120vw;
    .dropzone{
        width: 100vw;
        height: 100vh;
        margin-left: 30vw;
        padding-top: 20vh;
        .creator-box{
            #tags{
                margin-top: 10vh;
                margin-left: 10vw;
                input{
                    width: 5vw;
                }
            }
            margin-top: 10ch;
            background-color: white;
            padding-top: 0vh;
            width: 40vw;
            height: 50vh;
            box-shadow: rgb(75, 153, 75) 0px 0px 250px 0px;
            input{
                width: 34vw;
                margin-top: 2vh;
                margin-left: .75vw;
                border: none;
                box-shadow: black 0px 0px 7.5px 1px;
            }
            button{
                width: 80px;
                border: none;
                box-shadow: black 0px 0px 7.5px 1px;
                height: 17px;
            }
            #description{
                height: 50px;
            }
            #description2{
                height: 52px;
            }
            .box{
                display: flex;
                align-items: center;
                margin-left: 5vw;
                top: 5vh;
                #info{
                    margin-top: 4vh;
                    width: 30vw;
                    // margin-left: 5vw;
                }
            }
        }
    }
}