.Dash-page{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(7, 7, 7);
    .dash-videos{
        display: flex ;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90vw;
        height: 100vh;
        padding-top: 150px;
        .video-listen{
            flex-direction: row;
            margin-left: 100px;
            margin-top: 5vh;
            width: 30vw;
            height: 30vh;
            box-shadow: white 0px 0px 3px 1px ;
            button{
                width: 30vw;
                border: none;
            }
        }
    }
}