.Dash-page{
    background-color: rgb(7, 7, 7);
    // height: 120vh;
    .dash-videos{
        // height: 100vh;
        // margin-left: 3vw;
        width: 90vw;
        padding-top: 150px;
        .video-listen{
            flex-direction: row;
            margin-left: 100px;
            height: 45vh;
            width: 30vw;
            box-shadow: white 0px 0px 3px 1px ;
            button{
                margin-left: 140px;
                width: 360px;
            }
        }
    }
}