@import './base.scss';
.Dash-page{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(6.9, 6.9, 6.9);
    button:hover{
        @extend %gradient-background;
    }
    .dash-videos{
        display: flex ;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90vw;
        height: 100vh;
        padding-top: 150px;
        .video-listen{
            background-color: black;
            flex-direction: row;
            margin-left: 100px;
            margin-top: 5vh;
            width: 30vw;
            height: 30vh;
            button{
                width: 30vw;
                border: none;
            }
        }
    }
}