@import './base.scss';
.sideBar-page{
    position: fixed;
    font-family: monospace;
    @extend %gradient-background;
    min-height: 100vh;
    width: 85px;
    justify-content: space-between;
    align-items: center;
    #create-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        width: 70px;
        height: 8vh;
        margin-top: 110px;
        margin-left: 8px;
        border-radius: 25%;
        box-shadow: 0px 0px 15px 0px;
    }
    #create-button:hover{
        @extend %gradient-background; 
        // color: white; 
    }
    #account-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        width: 70px;
        height: 8vh;
        margin-left: 8px;
        margin-top: 10px;
        border-radius: 25%;
        box-shadow: 0px 0px 15px 0px;
    }
    #account-button:hover{
        @extend %gradient-background;
        // color: white; 
    }
    #logout-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        width: 70px;
        height: 8vh;
        margin-left: 8px;
        margin-top: 60vh ;
        border-radius: 25%;
        box-shadow: 0px 0px 15px 0px;
    }
    #logout-button:hover{
        @extend %gradient-background; 
        // color: white; 
    }
}
@media(max-width:700px){
    .sideBar-page{
        width: 50px;
        #create-button{
            width: 35px;
            height: 4vh;
            font-size: x-small;
        }
        #account-button{
            width: 35px;
            height: 4vh;
            font-size: x-small;
        }
        #logout-button{
            width: 35px;
            height: 4vh;
            font-size: x-small;
            margin-top: 70vh;
        }
    }
   
}