@import './base.scss';
.video-page{
    display: flex;
    position: relative;
    padding-top: 175px;
    margin-left: 85px;
    background-color: rgb(7, 7, 7);
    min-height: 100vh;
    .left-side{
        margin-left: 20vw;
        align-items: center;
        // justify-content: space-around;
        .video{
            background-color: black;
            height: 360px;
            width: 640px;
            margin-left: -100px;
        }
        .title-bar{
            color: white;
            width: 635px;
            height: 4.075vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -100px;
            background-color: rgb(7, 7, 7);
            border: .1vw solid white;
            padding: 20px;
        }
        .video-bar{
            width: 635px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -100px;
            background-color: rgb(7, 7, 7);
            border: .1vw solid white;
            padding: 10px;
            #like{
                color: #fff;
                width: 4vw;
                height: 3.5vh;
                font-weight: bold;
                border: none;
                border-radius: 5%;
                margin-left: 3px;
            }
            #like:hover{
                @extend %gradient-background;
            }
            #dislike{
                background-color: rgb(255, 255, 255);
                color: #fff;
                width: 4vw;
                margin-right:417px;
                height: 3.5vh;
                font-weight: bold;
                border: none;
                border-radius: 5%;
                margin-left: 2.5px;
            }
            #dislike:hover{
                @extend %gradient-background;
            }
            #Subscribe{
                background-color: rgb(255, 255, 255);
                height: 3.5vh;
                font-weight: bold;
                border: none;
                border-radius: 5%;
                margin-right: 3px;
            }
            #Subscribe:hover{
                @extend %gradient-background;
            }
            i {
                margin-right: 10px;
            }
        }
        .bio{
            background-color: rgb(7, 7, 7);
            color: white;
            margin-left: -100px;
            width: 635px;
            border: .1vw solid white;
            padding: 20px;
            .video-creator-info-section {
                @include flex(flex-start, center, row, wrap);
                .creator-username {
                    margin-left: 10px;
                }
            }
            .profile-pic-holder {
                height: 30px;
                width: 30px;
                background-color: #fff;
                border-radius: 50%;
            }
        }
        .comments{
            // margin-top: 5vh;
            .my-comment{
                margin-left: -100px;
                width: 635px;
                background-color: white;
                input{
                    width: 558px;
                    height: 4vh;
                }
                button{
                    height: 4.5vh;
                    width: 76px;
                }
                button:hover{
                    @extend %gradient-background;
                }
            }
            .other-comments{
                display: flex;
                flex-wrap: wrap;
                color: white;
                width: 634px;
                margin-left: -100px;
                justify-content: space-around;
                align-items: center;
                border: .15vw solid white;
                padding-bottom: 100px;
                #other{
                    display: flex;
                    justify-content: center;
                    align-items: left;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 625px;
                    margin-left: 5px;
                    background-color: rgb(7, 7, 7);
                }
            }
        }
    }
    .right-side{
        background-color: rgb(0, 0, 0);
        width: 640px;
        margin-left: 120px;
        .other-videos{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 300px;
            margin-left: 100px;
        }
    }
}

